@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary-color: #121212;
    --body-font: 16px;
    --sub-heading-font: 48px;
    --heading-font: 84px;
}

.primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--body-font);
    &:hover{
        background-color: #fff;
        color: var(--primary-color);
    }
}

.secondary-btn{
    background-color: transparent;
    color: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--body-font);
    &:hover{
        background-color: var(--primary-color);
        color: #fff;
    }
}