.results-content{
    padding: 6rem;
    background-color: whitesmoke;
}

.results-content img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.stay-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 1rem;

}

.plan-details{
    //add gap
    gap: 1rem;
}

.stay{
    margin-top: 2rem;
}
